:root {
	--color-background: #ffffff;
	--color-background-soft: #f8fafc;

	--color-border: #f1f5f9;
	--color-border-hover: #cbd5e1;

	--color-text: #1e293b;
	--color-subtext: #94a3b8;

	--color-foreward: #ffffff;
	--color-foreward-modifier: 92%;

	--color-backward: #000000;
	--color-backward-modifier: 20%;

	--color-primary: #197fe6;
	--color-secondary: #8b5cf6;
	--color-gradient: linear-gradient(135deg, var(--color-primary) 0%, var(--color-secondary) 100%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #0f172a;
		--color-background-soft: #1e293b;

		--color-border: #1e293b;
		--color-border-hover: #2a374d;

		--color-text: #ffffff;
		--color-subtext: #64748b;

		--color-foreward: #000000;
		--color-foreward-modifier: 75%;

		--color-backward: #ffffff;
		--color-backward-modifier: 50%;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	min-height: 100vh;
	background: var(--color-background);
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 1.6;
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-text);
}

p {
	color: var(--color-subtext);
}
